:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

header {
  background-color: lightseagreen;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 40px;
  /* box-shadow: 1px 1px 5px darkgray; */
}

.body-container {
  display: flex;
}

.side-menu {
  width: 15vh;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 25px;
  background-color: lightgray;
}

.side-menu button {
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 100px;
  margin-top: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.project {
  margin: 50px;
  height: 30vh;
  width: 40vh;
  background-color: lightgray;
  border-radius: 10px;
}

.project h6 {
  background-color: lightseagreen;
  font-size: 15px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.project h6 button {
  background-color: lightseagreen;
  border: none;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.edit-button {
  margin-left: auto;
}

li {
  list-style-type: none;
  padding-top: 7px;
}

