:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

html {
   height: 100% 
}

body {
   min-height: 100%
}
/* Variables */


/* Header */
header {
  background-color: lightgray;
  min-height: 10dvh;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 40px;
  border-bottom: 2px solid darkslategray;
}

header button {
  font-size: 1rem;
  color: white;
  background-color: rgb(24, 130, 125);
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 8rem;
  margin-left: 3em;
}

.body-container {
  display: flex;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 35vh);
}

@media only screen and (max-width: 768px) {
  .project-container {
     display: block;
  }
}

.project {
  margin: 28px;
  height: 30vh;
  width: 40vh;
  background-color: lightgray;
  border-radius: 10px;
}



.project h6 {
  background-color: lightseagreen;
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 1.1 rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.project h6 button {
  background-color: lightseagreen;
  border: none;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.delete-button {
  font-size: 1rem;
}

.add-button {
  margin-left: auto;
  font-size: 2rem;
}

li {
  list-style-type: none;
  padding-top: 7px;
}

/* popup form */
.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: lightseagreen;
  height: 475px;
  width: 450px;
  border: 1px solid rgb(33, 33, 33);
  box-shadow: 3px 3px 7px black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-right: 2%;
}

.popup input{
  width: 100%;
  height: 30px;
  margin: 10px;
}

.popup .form-button {
  width: 44%;
  height: 30px;
  margin-top: 25px;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 7px;
}

.popup h2 {
  margin-bottom: 30px;
}

.popup-open {
  opacity: 1;
  z-index: 999;
}